.header {
    overflow: hidden;
    background-color: #ffffff;
    padding: 5px 5px;
    
  }

  .logohead{
      margin-top: 10px;
      margin-left: 10px;
      height: 40px;
      max-width: 140px;
 }
  
  .header-right a:hover {
    background-color: #BD0306;
    color: white;
    border-color: white;
  }
  
  
  .header-right {
    float: right;
    margin:auto;
  }

  .header-right a{
    float: left;
    color: black;
    text-align: right;
    padding: 10px;
    text-decoration: none;
    font-size: 14px; 
    line-height: 40px;
    border-radius: 4px;
  }
  

