body {
    min-height:100%;
    background-attachment: fixed;
    background-image:url(../images/1.jpg);
    background-size:cover;
    background-position:top; 
    background-repeat: no-repeat;
    max-width:100%;
    height:auto;
  }

  .baner-content {
    padding-top: 30vh;
    text-align: center;
    
  }

  .baner-content h1 {
    margin-top: 0px;
    font-size: 128px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0px;
    
  }

  .baner-content em {
    color: #ff7d27;
    font-weight: 600;
    font-style: normal;
    transition-delay: 2s;
  }

  .baner-content span {
    display: inline-block;
    margin-top: -20px;
    font-weight: 300;
    font-size: 48px;
    color: #fff;
  }

  .baner-content .primary-button {
    margin-top: 15em;
    transition-delay: 2s;
  }

  .service-content .left-text h4 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
  }
  
  #about {
    background-color: white;
  }

  #about .container .row .col span{
    font-size: 26px;
  }
  